/* early 2019 */

.perfect-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* media query "if do css" */
@media( /*condicional do*/ min-width: 1200px) {
    /* .class {
        changeSomething
    }*/
}